*{

    color: blue;
    font-size: 12px;
    
    }
    ul{

        border: 1px solid #ccc;
        font-size: 12px;
        
      }
        <header id=“header”></header>

        #header{
            border: 1px solid #ccc;
            font-size: 12px;
            
            } 
            <div class=“container”></div>
            .container{
                margin: 0 auto;
                width: 1200px;
                
                }
                <input type=“text”>
                Input[type=“text”] {

                    font-size: 16px;
                    
                    line-height: 1.2;
                    
                    }
        
